{#
/**
 * @file
 * Profile for LangDropDownSwitcher block.
 */
#}

<div class="block">
  <button class="active" aria-expanded="false">{{ button_icon }}{{ button_text }}</button>
  <div class="dropdown">
    <ul>
      {% for key, item in links %}
        {% if item.url|render|trim is not empty %}
          <li class="{{ item.attributes.class|join(' ') }}">
            <a href="{{ item.link }}">
              {{ item.title.icon }}{{ item.title.title }}
            </a>
          </li>
        {% else %}
          <li class="{{ item.attributes.class|join(' ') }}">
            {{ item.title.icon }}{{ item.title.title }}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
